<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>

        {% block title %}首页{% endblock %}_博客系统

    </title>
</head>
<body>
<div>
{% for cate in navcate %}
    <a href="{% url 'category_post' cate.id %}">{{ cate.name }}</a>
{% endfor %}
</div>
<hr>

{% block main %}{% endblock %}

<hr>
<div>
{% for cate in normalcate %}
    <a href="{% url 'category_post' cate.id %}">{{ cate.name }}</a>
{% endfor %}
</div>
<div>
{% for sidebar in sidebars %}
    <h4>{{ sidebar.title }}</h4>
    {{ sidebar.get_correct_content }}
{% endfor %}
</div>
</body>
</html>